@import "vars";
@import "base/mixins";

@include media-query(lap-and-up) {
  div { display: none; }
}
@include media-query(hand-and-up) {
  div { display: none; }
}
@include media-query(desk-and-up) {
  div { display: none; }
}
@include media-query(wall-and-up) {
  div { display: none; }
}
@include media-query(desk-and-down) {
  div { display: none; }
}
@include media-query(hand-and-down) {
  div { display: none; }
}
@include media-query(lap-and-down) {
  div { display: none; }
}

// LEGACY-IE
$legacy-ie: true;
@include media-query(lap-and-up) {
  div { display: none; }
}
@include media-query(hand-and-up) {
  div { display: none; }
}
@include media-query(desk-and-up) {
  div { display: none; }
}
@include media-query(wall-and-up) {
  div { display: none; }
}
@include media-query(desk-and-down) {
  div { display: none; }
}
@include media-query(hand-and-down) {
  div { display: none; }
}
@include media-query(lap-and-down) {
  div { display: none; }
}
