//------------------------------------//
//  $VARIABLES
//------------------------------------//

/*
  spaceBase version: 2.0.1
  http://spacebase.space150.com
*/

$legacy-ie: false !default;

// To select Normalize or Reset, see _manifest.scss
$normalize: false !default;
$reset:     false !default;

// Include push/pull styles?
$push: true;
$pull: true;

// Include responsive grid widths w/breakpoint namespace?
$responsive:           true;
$responsive-push-pull: true;

// Base measurements
$base-font-size:         16px;
$base-line-height:       28px;
$base-font-size--mobile: $base-font-size;
// Set to px value if mobile requires different font size

// Calculated measurements
$line-height-ratio: $base-line-height / $base-font-size;
$base-spacing-unit: $line-height-ratio;
$half-spacing-unit: $base-spacing-unit / 2;

// Grid
$gutter: $base-spacing-unit;

// Layout
$site-min-width:         320px;
$site-wrapper-max-width: 1440px;

// Breakpoints
$media-breakpoints: (
  hand: 480px,
  lap:  768px,
  desk: 1024px,
  wall: 1200px
);

$legacy-media-breakpoint: desk;

// Media query expressions
$media-features: (
  portrait:  '(orientation: portrait)',
  landscape: '(orientation: landscape)',
  at2x: '(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)',
  at3x: '(-webkit-min-device-pixel-ratio: 3), (min-resolution: 350dpi)'
);

// Colors
$black:        #000;
$gray-dark:    #666;
$gray:         #999;
$gray-light:   #ccc;
$white:        #fff;

$primary:      #7abcb5; // light teal
$secondary:    #41a29c; // dark teal
$tertiary:     #e48d38; // orange
$quaternary:   #c46e35; // dark orange
// quinary, senary, septenary, octonary, nonary, denary

// Form validation colors
$state-success: #468847;
$state-error:   #b94a48;

// Fonts
$font-body: Arial, Helvetica, sans-serif;
$font-head: $font-body;

// Example font stacks using @font-face (see _fonts.scss for declaration)
// $font-body: "Source Sans Pro", Arial, Helvetica, sans-serif;
// $font-head: "Fontatica4F", Arial, Helvetica, sans-serif;
