$legacy-ie: true;
@import "vars";
@import "base/functions";
@import "base/mixins";

.sg-landmark {
  @include rem(margin-bottom, 3 * $base-spacing-unit);
}

.sg-heading {
  padding: 0 0 .2em;
  border-bottom: 2px solid $gray;
}

.sg-demo-block {
  background-color: $gray;
  color: $white;
  @include rem(padding, $half-spacing-unit);
  @include rem(margin, 0 0 $base-spacing-unit);
}

.sg-colors li {
  border: 1px solid $gray-light;
  background: $white;
  @include rem(padding, .4);
  @include rem(margin-bottom, $half-spacing-unit);
}

.sg-swatch {
  display: block;
  height: 100px;
  width: 100px;
  position: relative;
  &:after {
    display: block;
    left: 0;
    position: absolute;
    top: 100px;
  }
  &.black {
    background: $black;
    &:after {
      content: "#{$black}";
    }
  }
  &.gray-dark {
    background: $gray-dark;
    &:after {
      content: "#{$gray-dark}";
    }
  }
  &.gray {
    background: $gray;
    &:after {
      content: "#{$gray}";
    }
  }
  &.gray-light {
    background: $gray-light;
    &:after {
      content: "#{$gray-light}";
    }
  }
  &.white {
    background: $white;
    &:after {
      content: "#{$white}";
    }
  }
  &.primary {
    background: $primary;
    &:after {
      content: "#{$primary}";
    }
  }
  &.secondary {
    background: $secondary;
    &:after {
      content: "#{$secondary}";
    }
  }
  &.tertiary {
    background: $tertiary;
    &:after {
      content: "#{$tertiary}";
    }
  }
  &.quaternary {
    background: $quaternary;
    &:after {
      content: "#{$quaternary}";
    }
  }
}

.sg-colors .sg-label {
  display: block;
  @include rem(margin-top, $base-spacing-unit);
}

.sg-field-container {
  margin-bottom: 1em;

  label {
    display: block;
  }
}

