//------------------------------------//
//  $BUTTONS
//------------------------------------//

.btn {
  display: inline-block;
  margin: 0;
  padding: .4em 1em;
  font-size: rem(1);
  line-height: 1.6em;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  border: 1px solid $gray;
  border-radius: 0;
  cursor: pointer;

  &,
  &:hover,
  &:focus { text-decoration: none; }

  &.disabled,
  &[disabled] {
    cursor: not-allowed;
    opacity: .65;
  }
}
