//------------------------------------//
//  $BUTTONS
//------------------------------------//

@use '@/app/styles/globals' as *;

.btn {
  display: inline-block;
  margin: 0;
  padding: .4em 1em;
  color: $primary;
  font-size: 1rem;
  line-height: 1.6em;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  border: 1px solid $gray;
  border-radius: 0;
  background: transparent;
  transition: all .15s ease;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $secondary;
    border-color: $black;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &.disabled,
  &[disabled] {
    pointer-events: none;
    opacity: .65;
  }
}
