//------------------------------------//
//  $BUTTONS
//------------------------------------//

.btn {
  margin: 0;
  padding: .4em 1em;
  line-height: 1.6em;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  border: 1px solid $gray;
  cursor: pointer;
  @include inline-block;
  @include rem(font-size, 1);
  border-radius: 0;

  &,
  &:hover,
  &:focus { text-decoration: none; }

  &.disabled,
  &[disabled] {
    cursor: not-allowed;
    opacity: 0.65;
  }
}
