//------------------------------------//
//  $FONTS
//------------------------------------//

// include license if available

// Example font include:
//
// @font-face {
//   font-family: 'Fontatica4F';
//   src: url('../fonts/2BF776_1_0.woff2') format('woff2'),
//        url('../fonts/2BF776_1_0.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
//   font-display: swap;
// }
