//------------------------------------//
//  $ISLAND
//------------------------------------//

// Harry Robert's "island"
.island,
.islet,
.landmark {
  display: block;
  margin-bottom: rem($base-spacing-unit);
  @include clearfix;

  .islet & {
    margin-bottom: rem($half-spacing-unit);
  }

  > :last-child { margin-bottom: 0; }
}

.island {
  @include padding-vertical(rem($base-spacing-unit));
}

.islet {
  @include padding-vertical(rem($half-spacing-unit));
}

.landmark {
  margin-bottom: rem(2 * $base-spacing-unit);
}
