//------------------------------------//
//  $ISLAND
//------------------------------------//

// Harry Robert's "island"
.island,
.islet,
.landmark {
  display: block;
  margin-bottom: $base-spacing-unit;
  @include clearfix;

  .islet & {
    margin-bottom: $half-spacing-unit;
  }

  > :last-child { margin-bottom: 0; }
}

.island {
  padding-top: $base-spacing-unit;
  padding-bottom: $base-spacing-unit;
}

.islet {
  padding-top: $half-spacing-unit;
  padding-bottom: $half-spacing-unit;
}

.landmark {
  margin-bottom: 2 * $base-spacing-unit;
}
