/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/

body { min-width: 320px; }

.container {
  max-width: $container-width;
  margin-right: auto;
  margin-left:  auto;

  @include media-query(hand-and-down) {
    padding: 0 $gutter;
  }

  // max-width for non-responsive layouts
  .lt-ie9 & { max-width: $container-width; }
}

