/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/

body { min-width: $site-min-width; }

.site-wrapper {
  max-width: $site-wrapper-max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: $gutter;
  padding-right: $gutter;

  // max-width for non-responsive layouts
  .lt-ie9 & { max-width: $site-wrapper-max-width - $gutter * 2; }
}

