//------------------------------------//
//  $LAYOUT
//------------------------------------//

body { min-width: $site-min-width; }

.site-wrapper {
  max-width: $site-wrapper-max-width;
  margin-left: auto;
  margin-right: auto;
  @include padding-horizontal($gutter);
}

