//------------------------------------//
//  $MEDIA
//------------------------------------//

// Base Object
.media { @include clearfix; }

.media__item {
  float: left;
  margin-right: $half-spacing-unit;

  img,
  video,
  iframe,
  object { display: block; }
}

.media__body,
.media__body > :last-child { margin-bottom: 0; }


//
// EXTENSIONS
//

// FLIP
.media--flip > .media__item {
  float: right;
  margin-right: 0;
  margin-left: $half-spacing-unit;
}

// NOWRAP
.media--nowrap > .media__body { overflow: hidden; }

// VALIGN
.media--valign {
  display: table;
  width: 100%;

  .media__item,
  .media__body {
    float: none;
    display: table-cell;
    vertical-align: middle;
  }

  .media__item {
    padding-right: $half-spacing-unit;

    img {
      width: auto !important;
      max-width: none !important;
    }
  }
}
