//------------------------------------//
//  $TYPOGRAPHY
//------------------------------------//

html {
  font: #{($base-font-size--mobile/16px)*1em}/#{$line-height-ratio} $font-body;
  color: $black;
  background: $white;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  color: $primary;
  text-decoration: none;

  &:hover, &:focus { text-decoration: underline; }
}

i { font-style: normal; }

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: $font-head;
  font-weight: normal;
}

h1, .h1 {
  font-size: 1.875rem;
  line-height: 1;
}

h2, .h2 {
  font-size: 1.25rem;
  line-height: 1.2;
}

h3, .h3 {
  font-size: 1rem;
  line-height: 1.4;
}

h4, .h4 {
  font-size: .875rem;
}

@include media($from: lap) {
  h1, .h1 { font-size: 3.6rem; }

  h2, .h2 { font-size: 2.4rem; }

  h3, .h3 { font-size: 1.5rem; }

  h4, .h4 { font-size: 1.2rem; }
}
