/*
  spaceBase version: 1.0
  http://spacebase.space150.com
*/
div {
  margin-left: 4rem;
  padding: 4rem 0 2rem 1rem;
  font-size: 30px;
  font-size: 2rem;
}

span {
  padding: 60px 0 30px 15px;
  font-size: 30px;
}
