/*
  spaceBase version: 1.0
  http://spacebase.space150.com
*/
div {
  margin-left: 4rem;
  padding: 4rem 0rem 2rem 1rem;
  font-size: 32px;
  font-size: 2rem;
}

span {
  padding: 64px 0px 32px 16px;
  font-size: 32px;
}
