//------------------------------------//
//  $GRIDS
//------------------------------------//

.gw,
.grid-wrapper {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 0;
  margin-left: -$gutter;

  // Align-items
  &.align--start,
  &.valign--top {
    align-items: flex-start;
  }
  &.align--center,
  &.valign--middle {
    align-items: center;
  }
  &.align--end,
  &.valign--bottom {
    align-items: flex-end;
  }
  &.align--stretch {
    align-items: stretch;
  }

  // Justify-content
  &.justify--start {
    justify-content: flex-start;
  }
  &.justify--center {
    justify-content: center;
  }
  &.justify--end {
    justify-content: flex-end;
  }
  &.justify--around {
    justify-content: space-around;
  }
  &.justify--between {
    justify-content: space-between;
  }

  &.centered {
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

.gw--col,
.grid-wrapper--column {
  flex-direction: column;
}

// Reverse grid
.gw--rev,
.grid-wrapper--rev {
  flex-direction: row-reverse;

  &.gw--col,
  &.grid-wrapper--column {
    flex-direction: column-reverse;
  }
}

// Gutterless grid
.gw--full,
.grid-wrapper--full {
  margin-left: 0;

  > .g,
  > .grid {
    padding-left: 0;
  }
}

.g,
.grid {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  min-height: 0;
  min-width: 0;
  width: 100%;
  padding-left: $gutter;

  &.auto {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    width: auto;
  }

  &.shrink {
    width: auto;
  }
}
