//------------------------------------//
//  $HELPERS
//------------------------------------//


// Clearfix
.cf { @include clearfix; }

// Image replacement
.ir { @include hide-text; }


// Hide from screenreaders and browsers
.hidden {
  display: none;
  visibility: hidden;
}

// Hiding w/o display:none; for accessibility
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// Extends the .visuallyhidden class to allow the element to be focusable
// when navigated to via the keyboard: h5bp.com/p
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}


// Responsive visibility helpers
@each $breakpoint, $_ in $media-breakpoints {
  @include media($upto: $breakpoint) {
    .hidden-below-#{$breakpoint} { display: none; }
  }

  @include media($from: $breakpoint) {
    .hidden-#{$breakpoint}-and-up { display: none; }
  }
}


// Helpers only if it doesn't already have a class to use
.float-right { float: right !important; }
.float-left { float: left !important; }

.text-left { text-align: left !important; }
.text-center { text-align: center !important; }
.text-right { text-align: right !important; }
.text-upper { text-transform: uppercase !important; }
.text-strong { font-weight: bold !important; }
.text-nowrap { white-space: nowrap !important; }

.display-table {
  display: table;
  width: 100%;
}

.display-row { display: table-row; }
.display-cell {
  display: table-cell;
  vertical-align: middle;
}

// Remove styling of anchor, useful for large clickable content areas
.anchor-plain {
  color: inherit;
  &:hover, &:focus {
    text-decoration: none;
  }
}
