/*------------------------------------*\
    $ISLAND
\*------------------------------------*/

// Harry Robert's "island"
.island,
.islet {
  display: block;
  @include clearfix();
}
.island { padding: $base-spacing-unit; }

.island > :last-child,
.islet > :last-child { margin-bottom: 0; }

.islet { padding: $half-spacing-unit; }

// Pull items full width of `.island` parents.
.full-bleed {
  margin-right:-$base-spacing-unit!important;
  margin-left: -$base-spacing-unit!important;
  .islet & {
    margin-right:-($half-spacing-unit)!important;
    margin-left: -($half-spacing-unit)!important;
  }
}
