//------------------------------------//
//  $LISTS
//------------------------------------//

.h-list,
.v-list {
  list-style: none;
  margin: 0;
  overflow: hidden;
}

.h-list > li {
  float: left;
  @include rem(margin-right, $half-spacing-unit, $base-font-size--mobile);
}

.h-list > li:last-child {
  margin-right: 0;
}

.h-list--centered {
  text-align: center;

  > li {
    float: none;
    @include inline-block;
    @include rem(margin, 0 $half-spacing-unit, $base-font-size--mobile);

    &:last-child {
      @include rem(margin-right, $half-spacing-unit, $base-font-size--mobile);
    }
  }
}

.h-list--piped {
  > li {
    margin-right: 0;

    + li {
      @include rem(margin-left, $half-spacing-unit, $base-font-size--mobile);
      @include rem(padding-left, $half-spacing-unit, $base-font-size--mobile);
      border-left: solid 1px;
    }
  }
}

.v-list > li {
  @include rem(margin-top, $half-spacing-unit / 2, $base-font-size--mobile);
}
