//------------------------------------//
//  $PUSH
//------------------------------------//

@mixin push-setup($namespace: "") {
  @include grid-setup("push--" + $namespace, margin-left);
}

@if $push {
  @if $responsive {
    @include push-setup;

    @if $responsive-push {
      @each $breakpoint, $_ in $media-breakpoints {
        @include media($from: $breakpoint) { @include push-setup("#{$breakpoint}-"); }
      }
    }
  }
  @else {
    @include media($from: lap) { @include push-setup; }
  }
}
