//------------------------------------//
//  $WIDTHS
//------------------------------------//
$grid-widths: (
  1:     one-whole,

  1/2:   one-half
         two-quarters
         three-sixths
         four-eighths
         five-tenths
         six-twelfths,

  1/3:   one-third
         two-sixths
         four-twelfths,

  2/3:   two-thirds
         four-sixths
         eight-twelfths,

  1/4:   one-quarter
         two-eighths
         three-twelfths,

  3/4:   three-quarters
         six-eighths
         nine-twelfths,

  1/5:   one-fifth
         two-tenths,

  2/5:   two-fifths
         four-tenths,

  3/5:   three-fifths
         six-tenths,

  4/5:   four-fifths
         eight-tenths,

  1/6:   one-sixth
         two-twelfths,

  5/6:   five-sixths
         ten-twelfths,

  // Eighths
  1/8:   one-eighth,
  3/8:   three-eighths,
  5/8:   five-eighths,
  7/8:   seven-eighths,

  // Tenths
  1/10:  one-tenth,
  3/10:  three-tenths,
  7/10:  seven-tenths,
  9/10:  nine-tenths,

  //Twelfths
  1/12:  one-twelfth,
  5/12:  five-twelfths,
  7/12:  seven-twelfths,
  11/12: eleven-twelfths
);

@mixin grid-setup($namespace: "", $property: width) {
  @each $fraction, $widths in $grid-widths {
    $selectors: null;
    $percent: 100% /(1 / $fraction);
    @each $width in $widths {
      $selectors: append($selectors, unquote(".#{$namespace}#{$width}"), "comma");
    }
    #{$selectors} { #{$property}: $percent; }
  }
}

//
// Responsive widths w/breakpoint namespace
//
// If you have set `$responsive` to ‘true’ in `_vars.scss` then you can define at
// which breakpoint you’d like an element to be a certain size, e.g.:
//
// <div class="g one-quarter lap-one-half palm-one-whole"> ... </div>
//
// This would create a `div` that, at ‘desktop’ sizes, takes up a quarter of the
// horizontal space, a half of that space at ‘tablet’ sizes, and goes full width
// at ‘mobile’ sizes.
//
// If `$responsive` is ‘false’ then the grid would only be used at laptop sizes and above.
//

@if $responsive {
  @include grid-setup;

  @each $breakpoint, $_ in $media-breakpoints {
    @include media($from: $breakpoint) { @include grid-setup("#{$breakpoint}-"); }
  }
} @else { // Not responsive
  // Initializes widths w/o namespace
  @include media($from: lap) { @include grid-setup; }
}
